
<input  (keyup.enter)="setValue(searchBar.value)"  #searchBar type="text" [(ngModel)]="value">
<div *ngIf="resp.length > 1" class="errorMsg">
  <h1 style = 'color:red'>{{resp}}</h1>
</div>
<div class="cont" *ngIf="name.length > 0 && resp.length < 1" >
  <div class="cityName">
    <h1>{{name}}</h1>
  </div>
  <div class="tilesCont">
    <div class="field">
      <img style="width:80px; height: 80px;" src="{{ weatherIcon[0] }}" />
      <h2>{{ temperature[0] }}</h2>
      <h5>{{ desc[0] }}</h5>
    </div>
    <div class="field">
      <img style="width:80px; height: 80px;" src="{{ weatherIcon[1] }}" />
      <h2>{{ temperature[1] }}</h2>
      <h5>{{ desc[1] }}</h5>
    </div>
    <div class="field">
      <img style="width:80px; height: 80px;" src="{{ weatherIcon[2] }}" />
      <h2>{{ temperature[2] }}</h2>
      <h5>{{ desc[2] }}</h5>
    </div>
    <div class="field">
      <img style="width:80px; height: 80px;" src="{{ weatherIcon[3] }}" />
      <h2>{{ temperature[3] }}</h2>
      <h5>{{ desc[3] }}</h5>
    </div>
    <div class="field">
      <img style="width:80px; height: 80px;" src="{{ weatherIcon[4] }}" />
      <h2>{{ temperature[4] }}</h2>
      <h5>{{ desc[4] }}</h5>
    </div>
  </div>
</div>
