<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Popular</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/comments.css">
  <link rel="shortcut icon" href="/assets/logo.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <img id='logo' src="/assets/logo.png">

    <!--dropdown-->

  <div id="sort_by">
    SORT BY
    <div id="links">
      <a href='/'>FRESH</a>
      <a href='trending'>TRENDING</a>
      <a href='popular'>POPULAR</a>
    </div>
  </div>
    <!--dropdown-->


    <img id='magnifier' src="/assets/search_icon.png">
    <form action="/search" method="post">
    <input type="text" name='search' placeholder="Search GreenDit" id=searchBar>
    </form>
  
    <form id="sign_up" action="/log_out" method="post">
      <input type="submit" id='signUpButton' value="Log out">
    </form>
    <h3 id='userDisp'><%=user%><h3>  
  
  
  </header>

  
  
  <div id='contentBody'>  <!-- the body display div--> 
    
    <form action="/post" method="post" id="create_post">
      <input type="text" name='thread_name' id="threadNamer" placeholder='Start a discussion about..:' >
      <textarea name="post_text" id="postBody" cols="30" rows="10"></textarea>
      <input id='postUser' style='display:none' type="radio" name="username" value="anon" checked>
      <input type="Submit" value="Post"  id='post_button'>
    </form>
    
    <div class="mainContent">
    
    
    <div class="postArea"> <!--- this is where the posts start-->
    </div> <!--post end-->
    
    
    <div class="sideBar">
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
      <div class="sidecCont"></div>
    </div> <!--Sidebar End-->
          
    </div> <!-- Main content --> 
     </div> <!-- the body display div--> 
        
  
 



<script src="/assets/index.js"></script>
</body>

</html>