.container{
  display: flex;
  flex-direction: row-reverse;
  }
  
  .green{
    width: 25%;
    height: 100px;
  background-color: green;
  }
  
  
  .yellow{
    width: 50%;
    height: 100px;
  background-color: yellow;
  }
  
  
  .purple{
    width: 25%;
    height: 100px;
  background-color: purple;
  }