.container{
display: flex;
}

.green{
height: 100px;
width: 100px;
background-color: green;
}


.yellow{
  height: 100px;
width: 100px;
background-color: yellow;
}


.purple{
  height: 100px;
width: 100px;
background-color: purple;
}