

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title > DEMO </title>
    <link rel="stylesheet" href="./assets/style.css">
    
    
  </head>
  <body>     
     <div id = 'gallery'>
       <button id = 'leftButton'>  <  </button>
       <%- img %>
       <div id = 'thumbnails'>
         <%- thumbnail %>
        </div>
        <button id = 'rightButton'>  >  </button>   
      </div>

      
      <form action="/upload" enctype="multipart/form-data" method="POST" onsubmit='adder();'> 
      <label for="file-upload" class="custom-file-upload">Choose File to Upload</label>
       <input id='file-upload' type="file" name="photo" /> 
       <input type="submit" value="Upload Photo"/>
     </form>
      

<script src="./assets/galery.js"></script>
  </body>
  </html>