

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title > DEMO </title>
    <link rel="stylesheet" href="./assets/style.css">
    
    
  </head>
  <body>
 
    <div id = 'gallery'>
      <button id = 'leftButton'>  <  </button>
      <%- img %>
      <div id = 'thumbnails'>
      <%- thumbnail %>
      </div>
      <button id = 'rightButton'>  >  </button>   
    </div>
    
    
    
<script src="./assets/galery.js"></script>
  </body>
  </html>